# Porta do servidor
PORT=5000

# String de conexão do Neon PostgreSQL (Obtenha no console da Neon.tech)
DATABASE_URL=postgres://usuario:senha@ep-nome-servidor.us-east-2.aws.neon.tech/neondb?sslmode=require
